body{

   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;

   background-image: linear-gradient(to bottom right, pink, #4f81e3);

 }
 .navi{
   position:fixed;
   z-index:99999999;
   width:100%;
   margin:0px;
   top:-0px;

 }

 .ho{
   margin-left:1080px;
   margin-right:10px;
   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }
 .ho1{

   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }
 .v{
   width: 100%; top:0;


 }
 .if{
   margin-top:30px;
   margin-bottom:30px;
 }
 .carousel-item{
   height: 300px;
 }
 .se{
   margin-top:10px;
 }
 .carousel-item img{
  height:300px;
 }
 .s{
   border-radius:10px;
 }
 .w{
   width:170px;
      margin:300px;
 }
 .x{
   width:100%;
   border-radius:20px;
 }
 .x:hover{
    box-shadow: 1px 2px 10px 10px #5fcff5;
 }
.f{
  margin-top:20px;
}
.square1 {


color: red;
}
.square2 {
color: blue;
}
.square3 {

color: green;
}
.square4 {

color: yellow;
}
.square5 {

color: grey;
}



@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
  border:none;
}
.ho1{

  border:none;
}
}
