body{
   background-image: linear-gradient(to bottom right, pink, #4f81e3);
   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;
   position: sticky;
 }
 .v{
   width: 100%; top:0;


 }
 .ho1{
     margin-left:1000px;
     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }
 .h12
     {
       text-align: center;
       padding-top:120px;
       padding-bottom:140px;
        background-image: linear-gradient(to  bottom right,rgba(255,192,203, 0.9),rgba(79, 129, 227, 0.9));
        color:white;

     }
     .h121
         {
           text-align: center;
           padding-top:130px;
           padding-bottom:130px;
          background-image: linear-gradient(to  bottom right,rgba(255,192,203, 0.9),rgba(79, 129, 227, 0.9));


         }
         .h122
             {
               text-align: center;
               padding-top:130px;
               padding-bottom:130px;
               background-color:#262424;


             }
     .h111{
       padding-top:20px;
         color:white;
     }
     .h99
         {
           text-align: center;
           padding-top:50px;
           padding-bottom:50px;

            /* Fallback color */

            background-color: rgba(217, 212, 212, 0.5);


         }
     .h11
     {
       margin:auto;
       color:white;
     }
     body{

        width:100%;
        height:100%;
        background-size:cover;
        background-repeat:no-repeat;
         background-attachment: fixed;

        background-image:url(/images/shopb.jpg);


      }
      .x{
        width: 280px;
        height:400px;
        text-align:center;
         margin:auto;
         border-radius:20px;
        margin-bottom:50px;
      }
      .x:hover{
         box-shadow: 0px 0px 40px 0px black;
       }


      .icon{
        font-size:160px;
         margin-top:60px;
      }
      .b{
        font-family: 'Merienda', cursive;
        padding-top:8px;

        margin-bottom:0px;
        border-radius:5px;
        color: white;
        font-size:22px;
        border-radius:30px;
        margin-top:20px;
        height:50px;
        background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
      }
      .b span {
          color: white;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}
.b span:after {
    color: white;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
}

.b:hover span {
    color: white;
  padding-right: 25px;
}

.b:hover span:after {
  opacity: 1;
  right: 0;
}




     @media only screen and (max-width: 600px) {


     }
     @media only screen and (max-width: 800px) {


     }




@media only screen and (max-width: 600px) {

.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none;
}
}
