body{
  background-image:  linear-gradient(to  bottom right,#8f4aff, #12c2e9);

   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;
   position: sticky;
 }
 .v{
   width: 100%; top:0;


 }
 /*BUTTON*/

.b{
font-family: 'Merienda', cursive;

width:100%;

  color: white;
  font-size:12px;
  border-radius:30px;
  margin-top:20px;
  height:100%;;
  background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
}
.b span {
    color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.b span:after {
color: white;
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right:-20px;
transition: 0.5s;
}

.b:hover span {
color: white;
padding-right: 25px;
}

.b:hover span:after {
opacity: 1;
right: 0;
}
.navi{
  border-bottom-left-radius:30px;
 background-color:#5c30d9;
 border: 1px solid #5c30d9;
 box-shadow: 1px 1px 10px 8px #3939a3;
 color:white;
  position:fixed;
  z-index:99999999;
  width:100%;
  margin:0px;
  top:-0px;

}
 .ho1{

     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }
 .if{
   margin-top:30px;
   margin-bottom:30px;
 }
 .carousel-item{
   height: 300px;
 }
 .se{
   margin-top:10px;
 }
 .carousel-item img{
  height:300px;
 }
 .s{
   border-radius:10px;
 }
 .w{
   width:170px;
      margin: auto;
 }

 .x:hover{
    box-shadow: 1px 2px 10px 10px #5fcff5;
 }
 /*crousel*/
.f{
  margin-top:150px;
}
.h122
    {
      margin-top:50px;
      text-align: center;
      padding-top:130px;
      padding-bottom:130px;
    background-color:#5c30d9;
      border-top-left-radius:50px;
        border-top-right-radius:50px;
     background-color:#5c30d9;
     border: 1px solid #5c30d9;
     box-shadow: 1px 1px 10px 8px #3939a3;


    }




@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none;
}
}
