body{
   background-image: linear-gradient(to bottom right, pink, #4f81e3);
   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;
   position: sticky;
 }
 .v{
   width: 100%; top:0;


 }
 .ho1{
     margin-left:950px;
     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }
 .if{
   margin-top:30px;
   margin-bottom:30px;
 }
 .carousel-item{
   height: 300px;
 }
 .se{
   margin-top:10px;
 }
 .carousel-item img{
  height:300px;
 }
 .s{
   border-radius:10px;
 }
 .w{
   width:170px;
      margin: auto;
 }
 .x{
   width:100%;
   border-radius:20px;
 }
 .x:hover{
    box-shadow: 1px 2px 10px 10px #5fcff5;
 }
.f{
  margin-top:20px;
}




@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none; 
}
}
