body
{
  background-image:  linear-gradient(to  bottom right,#ff42c6, #12c2e9);
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  position: sticky;
 }
 .v{
   width: 100%; top:0;
 }
 span {cursor:pointer;  }

.minus, .plus{
width:40px;
border:1px solid grey;
border-radius: 100px;
background:#f2f2f2;
border-radius:100px;
padding:8px 5px 8px 5px;
border:1px solid #ddd;
display: inline-block;
vertical-align: middle;
text-align: center;
}
input{
height:24px;
width: 50px;
text-align: center;
font-size: 16px;
border:1px solid #ddd;
border-radius:4px;
display: inline-block;
vertical-align: middle;
}
h1,h2,h4,h3,h5{
  background: -webkit-linear-gradient( #c471ed, #12c2e9);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Acme', sans-serif;

}
.navi{
  border-bottom-left-radius:30px;
 background-color:#5c30d9;
 border: 1px solid #5c30d9;
 box-shadow: 1px 1px 10px 8px #3939a3;
 color:white;
  position:fixed;
  z-index:99999999;
  width:100%;
  margin:0px;
  top:-0px;

}

 .ho1{

     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }
 .h12
     {
       text-align: center;
       padding-top:120px;
       padding-bottom:140px;
        background-image: linear-gradient(to  bottom right,rgba(255,192,203, 0.9),rgba(79, 129, 227, 0.9));
        color:white;

     }
     .h121
         {
           text-align: center;
           padding-top:130px;
           padding-bottom:130px;
          background-image: linear-gradient(to  bottom right,rgba(255,192,203, 0.9),rgba(79, 129, 227, 0.9));


         }

     .h111{
       padding-top:20px;
         color:white;
     }
     .h122
         {
           margin-top:50px;
           text-align: center;
           padding-top:30px;
           padding-bottom:0px;
           background-color:#5c30d9;
           border-top-left-radius:50px;
           border-top-right-radius:50px;
           background-color:#5c30d9;
           border: 1px solid #5c30d9;
           box-shadow: 1px 1px 10px 8px #3939a3;


         }
     .h11
     {
       margin:auto;
       color:white;
     }

      .x{
        width: 280px;
        height:400px;
        text-align:center;
         margin:auto;
         border-radius:20px;
        margin-bottom:50px;
      }
      .x:hover{
         box-shadow: 0px 0px 40px 0px black;
       }


      .icon{
        font-size:160px;
         margin-top:60px;
      }
      .b{
        font-family: 'Merienda', cursive;
        padding-top:px;

        margin-bottom:0px;
        border-radius:5px;
        color: white;
        font-size:18px;
        border-radius:30px;
        margin-top:20px;
        height:40px;
        background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
      }
      .b span {
          color: white;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}
.b span:after {
    color: white;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
}

.b:hover span {
    color: white;
  padding-right: 25px;
}

.b:hover span:after {
  opacity: 1;
  right: 0;
}


@media only screen and (max-width: 600px) {

.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none;
}
}
