body{
   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;

   background-image: linear-gradient(to bottom right, pink, #4f81e3);

 }
 .navi{
   position:fixed;
   z-index:99999999;
   width:100%;
   margin:0px;
   top:-0px;

 }

     .base{
       padding:50px;
       padding-top:70px;
       padding-bottom:100px;
     }


 .ho{
  
   margin-right:10px;
   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }
 .ho1{

   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }
 .v{
   width: 100%; top:0;


 }
 .if{
   margin-top:30px;
   margin-bottom:30px;
 }
 .carousel-item{
   height: 300px;
 }
 .se{
   margin-top:10px;
 }
 .carousel-item img{
  height:300px;
 }
 .s{
   border-radius:10px;
 }
 .w{
   width:170px;
      margin:300px;
 }
 .x{
   width:100%;
   border-radius:20px;
 }
 .x:hover{
    box-shadow: 1px 2px 10px 10px #5fcff5;
 }
.f{
  margin-top:20px;
}
.ull{

  padding-left:0px;
  margin:0px;
  padding:0px;
  font-size:10px;font-family: 'Marcellus', serif;

  list-style-type:none;
}
.ull li::before {
  content: "\2022";
  color: white;
}
.in{
	margin-bottom:40px;
}
.b{
font-family: 'Merienda', cursive;
  padding-top:8px;
  paddinsg-bottom:10px;
  margin-bottom:0px;
  border-radius:5px;
  color: white;
  font-size:22px;
  border-radius:30px;
  margin-top:20px;
  height:50px;
  background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
}
.b span {
    color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.b span:after {
color: white;
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right:-20px;
transition: 0.5s;
}

.b:hover span {
color: white;
padding-right: 25px;
}

.b:hover span:after {
opacity: 1;
right: 0;
}
h1{
  color:black;

  margin-bottom:50px;
  text-align: center;
}
.sec{
  margin-top:40px;
  color:white

}
h2{
  font-family: 'Marcellus', cursive;
  margin-bottom:100px;
  margin-top:100px;
  color: white;
  text-align: center;
  font-size:50px;
}
.r{
}


i{
color:white;

}

form{
	padding-top:30px;
  width:100%;
  background:white;
  padding-bottom:30px;
   border-radius:20px;
   box-shadow: 0px 0px 50px 5px ;

}

.s{

  margin-bottzom:50px;
  text-align: center;
}
h1
{
  background: -webkit-linear-gradient( #c471ed, #12c2e9);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Acme', sans-serif;
  margin-top:60px;
  margin-bottom:60px;
text-align: center;
}
input[type="password"]{
  width:100%;border:none;border-bottom:2px solid gray;
  font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="password"]:focus{
  outline:none;
}
input[type="text"]{
width:100%;border:none;border-bottom:2px solid gray;
font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="number"]{
width:100%;border:none;border-bottom:2px solid gray;
font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="number"]:focus{
outline:none;
}
input[type="text"]:focus{
outline:none;
}
input[type="email"]{
width:100%;border:none;border-bottom:2px solid gray;
font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="email"]:focus{
outline:none;
}





@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
  border:none;
}
.ho1{

  border:none;
}
}
