body{
  background-image:  linear-gradient(to  bottom right,#ff42c6, #12c2e9);
  background-size:cover;
  background-repeat:no-repeat;
 background-position: center center;
 background-attachment: fixed;

 }
/*NAVBAR*/
.navi{
  border-bottom-left-radius:30px;
 background-color:#5c30d9;
 border: 1px solid #5c30d9;
 box-shadow: 1px 1px 10px 8px #3939a3;
 color:white;
  position:fixed;
  z-index:99999999;
  width:100%;
  margin:0px;
  top:-0px;

}
.h122
    {
      margin-top:50px;
      text-align: center;
      padding-top:130px;
      padding-bottom:130px;
    background-color:#5c30d9;
      border-top-left-radius:50px;
        border-top-right-radius:50px;
     background-color:#5c30d9;
     border: 1px solid #5c30d9;
     box-shadow: 1px 1px 10px 8px #3939a3;


    }


/*NAVBAR ITEM*/
 .l1{
   color:white;
   margin-right:10px;
   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }

 .l2{

   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }

 /*BUTTON*/

.b{
font-family: 'Merienda', cursive;
  padding-top:8px;
  paddinsg-bottom:10px;
  margin-bottom:0px;
  border-radius:5px;
  color: white;
  font-size:22px;
  border-radius:30px;
  margin-top:20px;
  height:50px;
  background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
}

.b span {
    color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.b span:after {
color: white;
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right:-20px;
transition: 0.5s;
}

.b:hover span {
color: white;
padding-right: 25px;
}

.b:hover span:after {
opacity: 1;
right: 0;
}


h2{
  font-family: 'Marcellus', cursive;
  margin-bottom:100px;
  color: white;
  text-align: center;
  font-size:50px;
}



i{
color:white;

}

#frmm
{
  padding-top:10px;
  padding-bottom:10px;
  background:white;
   max-width:450px;
 
  border-radius:20px;
   box-shadow: 0px 0px 50px 5px ;
}

  /*Heading*/
h1
{
  background: -webkit-linear-gradient( #c471ed, #12c2e9);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Acme', sans-serif;
  margin-top:60px;
  margin-bottom:60px;
text-align: center;
}
input[type="password"]{
  width:100%;border:none;border-bottom:2px solid gray;margin-bottom:50px;
  font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="password"]:focus{
  outline:none;
}
input[type="text"]{
width:100%;border:none;border-bottom:2px solid gray;margin-bottom:50px;
font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="file"]{
width:100%;border:none;margin-bottom:50px;
font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}

input[type="text"]:focus{
outline:none;
}

          .base{
            padding:50px;
            padding-top:70px;
            padding-bottom:100px;
          }
          @media only screen and (max-width: 600px) {

          .l2{
            margin-left:0px;
              border:none;
          }
          .l1{
            margin-left:0px;
              border:none;
          }
          }
