body{

   background-size:cover;
   background-repeat:no-repeat;

   background-image:  linear-gradient(to  bottom right,#ff42c6, #12c2e9);


 }
 .navi{
   border-bottom-left-radius:30px;
  background-color:#5c30d9;
  border: 1px solid #5c30d9;
  box-shadow: 1px 1px 10px 8px #3939a3;
  color:white;
   position:fixed;
   z-index:99999999;
   width:100%;
   margin:0px;
   top:-0px;

 }

     .base{
       padding:50px;
       padding-top:70px;
       padding-bottom:100px;
     }


 .ho{

   margin-right:10px;

 }
 .ho1{

   border-radius:20px;
   border-style: solid;
  border-width: 2px;
  border-color:white;
 }


.in{
	margin-bottom:40px;
}
.b{
font-family: 'Merienda', cursive;
  width:150px;
  margin-bottom:0px;
  border-radius:5px;
  color: white;
  font-size:22px;
  border-radius:30px;
  margin-top:20px;
  height:50px;
  background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
}
.b span {
    color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.b span:after {
color: white;
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right:-20px;
transition: 0.5s;
}

.b:hover span {
color: white;
padding-right: 25px;
}

.b:hover span:after {
opacity: 1;
right: 0;
}
h1{
  color:black;

  margin-bottom:50px;
  text-align: center;
}
.sec{
  margin-top:40px;
  color:white

}
h2{
  font-family: 'Marcellus', cursive;
  margin-bottom:100px;
  margin-top:100px;
  color: white;
  text-align: center;
  font-size:50px;
}

form{
	padding-top:30px;
  width:100%;
  background:white;
  padding-bottom:30px;
   border-radius:20px;
   box-shadow: 0px 0px 50px 5px ;

}

.s{

  margin-bottzom:50px;
  text-align: center;
}
h1
{
  background: -webkit-linear-gradient( #c471ed, #12c2e9);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Acme', sans-serif;
  margin-top:60px;
  margin-bottom:60px;
text-align: center;
}

input[type="text"]{
width:100%;border:none;border-bottom:2px solid gray;
font-size:18px;color:#696868;font-family: 'Marcellus', serif;
}
input[type="text"]:focus{
outline:none;
}

i{
  background: -webkit-linear-gradient( #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Acme', sans-serif;
}
@media only screen and (max-width: 600px) {
  .ho1
  {
    border:none;
  }
