body{
   background-image:  linear-gradient(to  bottom right,#ff42c6, #12c2e9);
   background-size:cover;
   background-repeat:no-repeat;
 background-position: center center;
 background-attachment: fixed;
 }
 .navi{
   border-bottom-left-radius:30px;
  background-color:#5c30d9;
  border: 1px solid #5c30d9;
  box-shadow: 1px 1px 10px 8px #3939a3;
  color:white;
   position:fixed;
   z-index:99999999;
   width:100%;
   margin:0px;
   top:-0px;

 }


 .t td{
      border: 10px solid black;

 }
 td{
   border: 20px solid white;
 }
 h1,h2,h4,h3,h5{
   background: -webkit-linear-gradient( #c471ed, #12c2e9);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
   font-family: 'Acme', sans-serif;

 }

 i{
   background: -webkit-linear-gradient( #c471ed, #12c2e9);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: 'Acme', sans-serif;
 }
thead{
  font-family: 'Marcellus', cursive;
}

 .ho1{

     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }

.h122
    {
      text-align: center;
      padding-top:10px;
      padding-bottom:10px;
      background-color:#262424;


    }




  h1{
    padding-top:20px;
    padding-bottom:0px;

  }
  h2{
    padding-top:20px;
      padding-bottom:0px;


  }
  h4{
    padding-top:20px;
    padding-bottom:10px;

  }
  .h122
      {
        margin-top:50px;
        text-align: center;
        padding-top:30px;
        padding-bottom:0px;
        background-color:#5c30d9;
        border-top-left-radius:50px;
        border-top-right-radius:50px;
        background-color:#5c30d9;
        border: 1px solid #5c30d9;
        box-shadow: 1px 1px 10px 8px #3939a3;


      }




  .b{
    font-family: 'Merienda', cursive;
    padding-top:8px;
    margin-bottom:0px;
    border-radius:5px;
    color: white;
    font-size:22px;
    border-radius:30px;
    margin-top:20px;
    height:50px;
    background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
  }
  .b span {
      color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .b span:after {
  color: white;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
  }

  .b:hover span {
  color: white;
  padding-right: 25px;
  }

  .b:hover span:after {
  opacity: 1;
  right: 0;
  }





@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none;
}
}
