body{
background-image:  linear-gradient(to  bottom right,#8f4aff, #12c2e9);
   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;
   position: sticky;
 }
 .navi{
   border-bottom-left-radius:30px;
  background-color:#5c30d9;
  border: 1px solid #5c30d9;
  box-shadow: 1px 1px 10px 8px #3939a3;
  color:white;
   position:fixed;
   z-index:99999999;
   width:100%;
   margin:0px;
   top:-0px;

 }

 .ho1{
    
     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }
 
.h122
    {
      text-align: center;
      padding-top:10px;
      padding-bottom:10px;
      background-color:#262424;


    }
    form{

    }
    input[type="text"]{
    width:100%;border:none;border-bottom:2px solid gray;
    font-size:18px;color:#696868;font-family: 'Marcellus', serif;
    }
    input[type="text"]:focus{
    outline:none;
    }
.h111{
padding-top:20px;

}
  h1{
    padding-top:20px;
    padding-bottom:0px;

  }
  h2{
    padding-top:20px;
      padding-bottom:0px;


  }
  h4{
    padding-top:20px;
    padding-bottom:10px;

  }
  .h122
      {
        margin-top:50px;
        text-align: center;
        padding-top:130px;
        padding-bottom:130px;
      background-color:#5c30d9;
        border-top-left-radius:50px;
          border-top-right-radius:50px;
       background-color:#5c30d9;
       border: 1px solid #5c30d9;
       box-shadow: 1px 1px 10px 8px #3939a3;


      }




  .b{
  font-family: 'Merienda', cursive;
    padding-top:8px;

    paddinsg-bottom:10px;
    margin-bottom:0px;
    border-radius:5px;
    color: white;
    font-size:22px;
    border-radius:30px;
    margin-top:20px;
    height:50px;
    background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
  }
  .b span {
      color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .b span:after {
  color: white;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
  }

  .b:hover span {
  color: white;
  padding-right: 25px;
  }

  .b:hover span:after {
  opacity: 1;
  right: 0;
  }





@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none;
}
}
