body{
   background-image: linear-gradient(to bottom right, pink, #4f81e3);
   width:100%;
  height:100%;
   background-size:cover;
   background-repeat:no-repeat;
   position: sticky;
 }
 .v{
   width: 100%; top:0;


 }
 .ho1{
    
     margin-right:10px;
     border-radius:20px;
     border-style: solid;
    border-width: 2px;
    border-color:white;
 }
 .if{
   margin-top:30px;
   margin-bottom:30px;
 }
 .carousel-item{
   height: 300px;
 }
 .se{
   margin-top:10px;
 }
 .carousel-item img{
  height:300px;
 }
 .s{
   border-radius:10px;
 }
 .w{
   width:170px;
      margin: auto;
 }
 .x{
   width:100%;
   border-radius:20px;
 }
 .x:hover{
    box-shadow: 1px 2px 10px 10px #5fcff5;
 }
.f{
  margin-top:20px;
}
.h122
    {
      text-align: center;
      padding-top:10px;
      padding-bottom:10px;
      background-color:#262424;


    }
    form{

    }
    input[type="text"]{
    width:100%;border:none;border-bottom:2px solid gray;
    font-size:18px;color:#696868;font-family: 'Marcellus', serif;
    }
    input[type="text"]:focus{
    outline:none;
    }
.h111{
padding-top:20px;

}
  h1{
    padding-top:20px;
    padding-bottom:0px;

  }
  h2{
    padding-top:20px;
      padding-bottom:0px;


  }
  h4{
    padding-top:20px;
    padding-bottom:10px;

  }
  /* The grid: Four equal columns that floats next to each other */
  .column {
    width:80px;

    padding:0px;
    margin:0px;
    margin-bottom:10px;
    text-align:center;


  }

  /* Style the images inside the grid */
  .column img {

    cursor: pointer;
    width:60px;
    border:2px solid orange;
  }

  .column img:hover {
    box-shadow: 1px 1px 10px 2px orange;

  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container */



  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;


  }

  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .b{
  font-family: 'Merienda', cursive;
    padding-top:8px;

    paddinsg-bottom:10px;
    margin-bottom:0px;
    border-radius:5px;
    color: white;
    font-size:22px;
    border-radius:30px;
    margin-top:20px;
    height:50px;
    background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
  }
  .b span {
      color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .b span:after {
  color: white;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
  }

  .b:hover span {
  color: white;
  padding-right: 25px;
  }

  .b:hover span:after {
  opacity: 1;
  right: 0;
  }





@media only screen and (max-width: 600px) {
.x{
  width:300px;
  margin: auto;
}
.ho{
  margin-left:0px;
}
.ho1{
  margin-left:0px;
    border:none;
}
}
