<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/adminhome.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">

              <nav class="navbar bg-dark navbar-dark navbar-expand-sm " >
                  <a href="https://www.youtube.com/watch?v=m4Uie3ytp_I" class="navbar-brand">C&S</a>
                  <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="abcd">
                  <ul class="navbar-nav ">
                      <li class="nav-item">
                          <a href="" class="nav-link ho"><i class="fas fa-home"></i></a>
                      </li>



                      <li class="nav-item ho1" style="">
                         <form action="#" th:action="@{/logout}"  method="POST">
			             <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	                     </form>
                      </li>
                  </ul>
              </div>
            </nav>
          </div>
        </div>


          <div class="row ">
          <div class="col-md-12 mx-0 px-0 ">
            <div class="col-md-12 mx-0 px-0 h12" >
                <h1 class="h11">WELCOME</h1>
                <h2 class="h11">ADMIN</h2>
            </div>
          </div>
        </div>

        <!--CARD row-->
         <div class="row h99" style="padding-top:100px">
          <div class="col-sm-1 "></div>
            <div class="col-sm-10 mx-0 px-0 ">

              <div class="row mx-0 px-0 ">
                <div class="col-sm-4 mx-0 px-0" >
                  <!--CARD BODY-->
                  <div class="card x " >
                  <i class="fas fa-plus-circle icon"></i>
                  <div class="card-body">
                    <h5 class="card-title">ADD</h5>
                    <p class="card-text">DRESS ADDED BY ADMIN</p>
                    <div>
                          <a th:href="@{/Admin/AddDress}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>ADD DRESS</span></a>
                    </div>
                  </div>


                </div>
              </div>


                  <div class="col-sm-4" >
                    <!-- CARD BODY-->
                    <div class="card x " >
                    <i class="fas fa-minus-circle icon"></i>
                    <div class="card-body">
                      <h5 class="card-title">DELETE</h5>
                      <p class="card-text">DRESS DELETED BY ADMIN</p>
                      <div>
                            <a th:href="@{/user/showFormForAdd}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>DELETE DRESS</span></a>
                      </div>
                    </div>
                  </div>
                </div>



                  <div class="col-sm-4" >
                    <!--CARD BODY -->
                    <div class="card x ">
                      <i class="fas fa-search icon"></i>

                    <div class="card-body">
                      <h5 class="card-title">SEARCH</h5>
                      <p class="card-text">SEARCH DRESS BY ADMIN</p>
                      <div>
                            <a th:href="@{/Admin/getdressbyid}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>SEARCH DRESS</span></a>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
              <div class="col-sm-1"></div>
        </div>


        <div class="row h99" style="padding-top:px">
          <div class="col-sm-2 "></div>
            <div class="col-sm-8 mx-0 px-0 ">

              <div class="row mx-0 px-0 ">

                <div class="col-sm-5 mx-0 px-0" >
                  <!--CARD BODY-->
                  <div class="card x ">
                <i class="fas fa-eye icon"></i>
                  <div class="card-body">
                    <h5 class="card-title">VIEW ALL</h5>
                    <p class="card-text">VIEW ALL DRESS BY ADMIN</p>
                    <div>
                          <a th:href="@{/Admin/list}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>VIEW ALL</span></a>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-sm-2"></div>

                <div class="col-sm-5 mx-0 px-0" >
                  <div class="col-sm-4" >
                    <!-- CARD BODY-->
                    <div class="card x" >
                    <i class="fas fa-wrench icon"></i>
                    <div class="card-body">
                      <h5 class="card-title">UPDATE DRESS</h5>
                      <p class="card-text">UPDATE DRESS BY ADMIN</p>
                      <div>
                            <a th:href="@{/user/showFormForAdd}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>UPDATE DRESS</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>
        </div>
        




  </body>
</html>
