<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/adddress.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  
        <style media="screen">


          .base{
            padding:50px;
            padding-top:70px;
            padding-bottom:100px;
          }
          .frm{

            background:white;
            height:630px;
            border-radius:20px;
             box-shadow: 0px 0px 50px 5px ;
          }
          form{
            margin-top:40px;
          }

          .s{

            margin-bottzom:50px;
            text-align: center;
          }
          h1
          {
            background: -webkit-linear-gradient( #c471ed, #12c2e9);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
            font-family: 'Acme', sans-serif;
            margin-top:60px;
            margin-bottom:60px;
          text-align: center;
          }


        input[type="text"]{
          width:100%;border:none;border-bottom:2px solid gray;margin-bottom:50px;
          font-size:18px;color:#696868;font-family: 'Marcellus', serif;
      }
      label{
          font-size:18px;

      }

      input[type="text"]:focus{
          outline:none;
      }

      .b{
font-family: 'Merienda', cursive;
        padding-top:8px;
        paddinsg-bottom:10px;
        margin-bottom:0px;
        border-radius:5px;
        color: white;
        font-size:22px;
        border-radius:30px;
        margin-top:20px;
        height:50px;
        background-image: linear-gradient(to  bottom right, #c471ed, #12c2e9);
      }
      .b span {
          color: white;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}
.b span:after {
    color: white;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
}

.b:hover span {
    color: white;
  padding-right: 25px;
}

.b:hover span:after {
  opacity: 1;
  right: 0;
}
      h1{
        color:black;

        margin-bottom:50px;
        text-align: center;
      }
      .sec{
        margin-top:40px;
        color:white

      }
      h2{
        font-family: 'Marcellus', cursive;
        margin-top:150px;
        color: white;
        text-align: center;
        font-size:50px;
      }
.r{
  position: relative;
  left:130px;
  display: inline-block;
  margin-right:20px;
  margin: auto;
  text-align:center;
}


i{
  color:white;

}

        </style>
  </head>
  <body>



          <nav class="navbar bg-dark navbar-dark navbar-expand-sm navi" >
              <a href="" class="navbar-brand">C&S</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="abcd">
              <ul class="navbar-nav">
                  <li class="nav-item navbar-right" style="">
                      <form action="#" th:action="@{/logout}" 
			             method="POST">
			             <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	                     </form>
                  </li>



              </ul>
          </div>
        </nav>





      <h2 >ADD DRESS</h2>


    <div class="container-fluid base">

      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4  frm">
          <h1>ADD DRESS</h1>
  
     <!-- <form  th:action="@{/upload/uploadFile}" th:object="${databasefile}" method="POST" enctype="multipart/form-data">
            <div class="">
            <input type="text" th:field="*{category}" placeholder="Category" class="" th:errorclass="fieldError" />
							<div  th:if="${#fields.hasErrors('category')}" class="text-danger">
                          		<ul class="ull">
                          			 <li th:each="err : ${#fields.errors('category')}" th:text="'Category ' + ${err}" />
                          							 
                          		</ul>
                          </div>
           </div>
            
            
            <div class="">

          <input type="text" th:field="*{gender}" placeholder="GENDER" class="" th:errorclass="fieldError" />
            <div  th:if="${#fields.hasErrors('gender')}" class="text-danger">
                          		<ul class="ull">
                          			 <li th:each="err : ${#fields.errors('gender')}" th:text="'GENDER ' + ${err}" />
                          							 
                          		</ul>
                 </div>
              
            </div>

            

            <div class="">

             <input type="text" th:field="*{price}" placeholder="PRICE" class="" th:errorclass="fieldError" />
            <div  th:if="${#fields.hasErrors('price')}" class="text-danger">
                          		<ul class="ull">
                          			 <li th:each="err : ${#fields.errors('price')}" th:text="'PRICE ' + ${err}" />
                          							 
                          		</ul>
                 </div>

            </div>
          
            <label for="myfile">SELECT FILE</label>
            <input type="file" id="file" name="file" multiple style="margin-bottom:20px" required="true">


              <div class="form-group s" >
                <button type="submit" class="btn  round-pill btn-block b"><span>ADD DRESS</span></button>
              </div>
          </form> -->
          <div th:object="${errorEntity}">
          <p th:text="${errorEntity}"></p>
          </div>
          
          <div th:if="${filesucess}" class="alert alert-danger col-xs-offset-1 col-xs-10">
		  <span th:text="${filesucess}"></span>
          </div>
          
          
          <form th:action="@{/upload/uploadFile}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" >
            <input type="text" name="category" id="category" placeholder="category">
            <input type="text" name="price" id="price" placeholder="price">
            
              <input type="text" name="gender" id="gender" placeholder="Gender">
                <input type="text" name="description" id="description" placeholder="description">
           <input type="submit" value="Upload Image" name="submit">
     	  </form>

        </div>

        <div class="col-md-4"></div>
      </div>
  </body>
</html>
