<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div>
		<div th:each="tempEmployee : ${samedress}">


			<form action="http://localhost:9091/Dress/AddToCart" method="get">
				<input type="text" name="FileName"
					th:value="${tempEmployee.fileName}" />
				<button type="submit" class="btn btn-primary b">AddToCart</button>
			</form>

			<h1 th:text="${tempEmployee.category}"></h1>
			<h4 th:text="${tempEmployee.category}"></h4>

			<h2>
				Price <span style="" th:text="${tempEmployee.category}"></span>
			</h2>
			<h2>
				Size <span>S M L XL XXL</span>
			</h2>
		</div>
	</div>
</body>
</html>