<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>
  



          <nav class="navbar bg-dark navbar-dark navbar-expand-sm  navi" >
              <a href="" class="navbar-brand">C&S</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse " id="abcd">
              <ul class="navbar-nav">
                <li class="nav-item " style="">
                    <a href=""  th:href="@{/showMyLoginPage}" class="nav-link ho">SIGNIN <i class="fas fa-sign-in-alt"></i></a>
                </li>

                  <li class="nav-item ">
                   <a href=""  th:href="@{/home}" class="nav-link ho1">EXIT  <i class="fas fa-sign-out-alt"></i></a>
                  </li>
              </ul>
          </div>
        </nav>

    <div class="container-fluid base">

      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h2>PASSWORD</h2>
            
  <div th:if="${success}" class="alert alert-danger col-xs-offset-1 col-xs-10">
	<span th:text="${success}"></span>
</div>

<div th:if="${failure}" class="alert alert-danger col-xs-offset-1 col-xs-10">
<span th:text="${failure}"></span>
</div>
            
              <div th:object="${errorEntity}">
          <p th:text="${errorEntity}"></p>
          </div>
                <form th:action="@{/forgot/forgotpassword}"th:object="${theuser}"class="px-5" action="index.html" method="post">
              <h1>FORGET PASSWORD</h1>
           
             <!-- email -->
						<div  class="input-group in">
							<input type="email" th:field="*{email}" placeholder="Email" class="" th:errorclass="fieldError" />
							<div th:if="${#fields.hasErrors('email')}" class="text-danger">
							<ul class="ull">
							  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
							</ul>
						</div>
						</div>



              <div class="form-group s" >
                <button type="submit" class="btn  round-pill btn-block b"><span>SUBMIT</span></button>
              </div>


          </form>

        </div>

        <div class="col-md-4"></div>
      </div>
  </body>
</html>
