<!DOCTYPE >
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="/css/home3.css">
      <script src="/js/jquery.js"></script>
      <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
  
 
  
  
  
      <div class="container-fluid xt" >
        <div class="row">
            <div class="col-md-12 px-0">

              <nav class="navbar  navbar-dark navbar-expand-sm navi" >
                 <a th:href="@{/Dress/TeamInfo}"class="navbar-brand">C&S</a>
                  <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="abcd">
                  <ul class="navbar-nav ">
                      <li class="nav-item">
                          <a href="" class="nav-link ho"  style="color:white;"><i class="fas fa-home"></i></a>
                      </li>
                      
                      
                      
                      

                      <li class="nav-item dropdown">
                          <a href="" class="nav-link dropdown-toggle"
                          data-toggle="dropdown"  style="color:white;">MEN</a>
                          <div class="dropdown-menu">
                              <a href="" class="dropdown-item">T-shirt</a>
                              <a href="" class="dropdown-item">Kurta</a>
                              <a href="" class="dropdown-item">Jean</a>
                          </div>
                      </li>
                      
                    
                      
                      
				
			
                      <li class="nav-item dropdown">
                          <a href="" class="nav-link dropdown-toggle"
                          data-toggle="dropdown"  style="color:white;">WOMEN</a>
                          <div class="dropdown-menu">
                              <a href="" class="dropdown-item">Page 1</a>


                              <a href="" class="dropdown-item">Page 2</a>
                              <a href="" class="dropdown-item">Page 3</a>
                          </div>
                      </li>
                      <li class="nav-item " style="color:black;">
                      <div sec:authorize="hasRole('ROLE_ADMIN')">
          		
				<form action="#" th:action="@{/Admin/homeadmin}" style="color:white;">
					<input type="submit" value="ADMIN"
						class="btn btn-outline-primary mt-2"  />
				</form>
			</div>
			
			<form action="#" th:action="@{/Dress/MyCart}" style="color:white;">
					<input type="submit" value="MYCART"
						class="btn btn-outline-primary mt-2"  />
				</form>
			
			
			
                      </li>

                  </ul>
                  <ul class="navbar-nav ml-auto">

                      <li class="nav-item dropdown">
                          <a href="" class="nav-link dropdown-toggle"
                          data-toggle="dropdown" th:if="${forwardusername}" style="color:white;"><span th:text="${forwardusername}"></span></a>
                          <div class="dropdown-menu">
                              
                             <a  th:href="@{/user/Edituserprofile}" class="nav-link" style="color:black;"  >EDIT USER PROFILE</a>
                            <!--   <a href=""  th:href="@{/logout}" class="nav-link ho" style="color:black;" >SIGNOUT</a>--> 
                            <form action="#" th:action="@{/logout}" method="POST">
				            <input type="submit" value="Logout"
					        class="btn btn-outline-primary mt-2" />
			                </form>


                          </div>
                      </li>

                  </ul>


              </div>
            </nav>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-1">
        
		</div>
          
          </div>

          <div class="col-md-10 f">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/images/slide.jpg" class="d-block w-100 mh-200" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/slide.jpg" class="d-block w-100  mh-200" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/slide.jpg" class="d-block w-100  mh-200" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="col-md-1"></div>
        </div>



        <div class="row se">
         

          <div class="col-md-4 mx-0 px-0" 	th:each="tempEmployee : ${employeesPage.content}"style="transition:1s;margin-bottom:10px;">
            <div class="col-md-12" id="cradee">
            <div class="card x " style="max-width:100%; margin:auto; border-radius:20px;">
              <img class="card-img-top w img-fluid" 	th:src="'http://localhost:9091/download/downloadFile/'+${tempEmployee.id}" alt="s " style="height:340px">
              <div class="card-body">
                 <h5 th:text="${tempEmployee.category}"></h5>
                 <h5 th:text="${tempEmployee.description}"></h5>
               
                <div style="text-align:center">
 <!--  <a href="/Dress/ViewDressDetailApi" class="btn btn-primary b"><span>VIEW</span></a>--> 
 
         <form action="#" th:action="@{/Dress/ViewDressDetailApi}" method="POST">
		<input type="hidden" name="FileName" th:value="${tempEmployee.fileName}" />					
		<button type="submit" class="btn btn-primary b">ViewDressDetails</button>
		</form>
             
             </div>
              </div>

            </div>
          </div>
          </div>
          <div class="col-md-4 mx-0 px-0">
          </div>
          <div class="col-md-4 mx-0 px-0">
          </div>
          
  

         
        </div>
       
       
        <div class="row" style="color:white;text-align:center;margin-top:20px;">
          <div class="col-md-12">
            <h5>PAGES</h5>
        <div th:if="${employeesPage.totalPages > 0}" class="pagination"
      		th:each="pageNumber : ${pageNumbers}">
      		<a th:href="@{/HomeController/list(size=${employeesPage.size}, page=${pageNumber})}"
      			th:text=${pageNumber}
      			th:class="${pageNumber==employeesPage.number + 1} ? active"></a>
      	</div>
      </div>
    </div>
        <div class="row">
          <div class="col-md-12 mx-0 px-0 ">
              <div class="row h122 mx-0 px-0">

                <div class="col-md-1 mx-0 px-0" style=" "></div>
                  <div class="col-md-10 mx-0 px-0 " style=" ">
                    <h1 class="h11">ABOUT US</h2>
                      <p style="color:white;margin-top:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="col-md-1 mx-0 px-0" style=" "></div>
                </div>
          </div>
        </div>


      </div>


  </body>
</html>
