<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/login22.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>



          <nav class="navbar  navbar-dark navbar-expand-sm navi" >
           
              <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="abcd">


              <ul class="navbar-nav ml-auto">

                <li class="nav-item navbar-right" >
                    <a href=""  th:href="@{/user/showFormForAdd}" class="nav-link ho" style="color:white;">SIGNUP <i class="fas fa-user-plus"></i></a>
                </li>
                  <li class="nav-item ">
                     <a th:href="@{/HomeController/home}"class="nav-link "  style="color:white">EXIT <i class="fas fa-sign-out-alt"></i></a>

                  </li>

              </ul>
          </div>
        </nav>

      <h2 style="margin-top:150px;">WELCOME</h2>
        <!--Form DIv-->
    <div class="container-fluid base">

      <div class="row">
          <!--Form DIv-->
        <div class="col-md-12" style=" margin: auto;">

          <div style="">
          <form class="px-5 fr" th:action="@{/authenticateTheUser}" action="index.html" method="post" style="margin: auto;">
              <h1>LOGIN</h1>
                <!--input-->
                <div class="in">
                <input type="text" name="username" placeholder="USRENAME">
              </div>
              <div class="in">
                    <input type="password" name="password" placeholder="PASSWORD"  >
              </div>

              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  <label class="form-check-label" for="exampleCheck1">By Signing up, you agree <br><a href="#">All terms and condition</a></label>
                </div>

                <div class="form-group s" >
                  <button type="submit" class="btn  round-pill btn-block b"><span>SUBMIT</span></button>
                </div>
                
                                <div style="text-align:center">
                                  <h4 style="color:grey;">Or</h4>
                              </div>
                

                <div style="text-align:center">
				                  <a href="#" th:href="@{/googlelogin}" style="color:blue; font-size:20px;" class=""><i style="color:blue; font-size:30px;" class="fab fa-facebook"></i>Facebook</a>
							                

              </div>

                <!-- Check for login error -->
                <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                  Invalid username and password.
                </div>

                <!-- Check for logout -->
                <div th:if="${param.logout}"class="alert alert-success col-xs-offset-1 col-xs-10">
                  You have been logged out.
                </div>
                  <!--Button-->
                  <div style="text-align:center">
                  <a th:href="@{/forgot/showformforforgot}" class="r"href="">Forget Password ?</a>
                </div>

          </form>


    </div>

        </div>
      </div>
    </div>




  </body>
</html>
