<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<h2>Please wait. Logging you in...</h2>
	<form name="myForm" id="myForm" th:action="@{/authenticateTheUser}" class="px-5"
		action="index.html" method="post">
		
		<!-- <div th:if="${username}" class="alert alert-danger col-xs-offset-1 col-xs-10">
		<h4> Your UserName is</h4>
	   <span th:text="${username}"></span>
     </div>
     -->
    
     
     <div th:if="${password}" class="alert alert-danger col-xs-offset-1 col-xs-10">
		<h4> Your Password is</h4>
	   <span th:text="${password}"></span>
     </div>
     
     <h5>You Can Login Within This Passowrd</h5> 
     
     
		
		<input type="hidden" name="username" placeholder="username" th:value="${username}" > 
		<input type="hidden" name="password" placeholder="password" th:value ="${password}">
		
		<!-- <button type="submit">SUBMIT</button> -->
	</form>
	
	<!-- <h5> Change Your if You Think It is Necessary</h5> -->
	
	<script type="text/javascript">
    window.onload=function(){
        var auto = setTimeout(function(){ autoRefresh(); }, 1000);

        function submitform(){
         
          document.forms["myForm"].submit();
        }

        function autoRefresh(){
           clearTimeout(auto);
           auto = setTimeout(function(){ submitform(); autoRefresh(); }, 10000);
        }
    }
</script>

</body>
</html>