<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/Main.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid mx-0 px-0 ">
      <!--WElcome Div -->
      <div class="row mx-0 px-0">
      <div class="col-md-12 mx-0 px-0 ">
        <div class="col-md-12 mx-0 px-0 h12" >
            <h1 class="h11">WELCOME</h1>
            <h3 class="h11">To</h3>
            <h1 class="h11">CHECK SHOP ATTIRE</h1>
            <h4 class="h111">CHECK BEFORE BUY</h4>
        </div>
      </div>
    </div>


<!--CARD z-->
<div class="row mx-0 px-0 h99" style="padding-top:100px">
  <div class="col-sm-1"></div>

    <div class="col-sm-10 mx-0 px-0 ">
      <div class="row mx-0 px-0 ">

        <div class="col-sm-4 " >
          <!--CARD BODY-->
          <div class="card x " >
          <i class="fas fa-user-circle"></i>
          <div class="card-body">
            <h5 class="card-title">SIGNIN</h5>
            <p class="card-text">SIGIN FOR EXPERIENCE</p>
            <div>
                    <a th:href="@{/HomeController/showMyLoginPage}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>SIGNIN</span></a>
              </div>
          </div>


        </div>
      </div>


          <div class="col-sm-4 " >
            <!-- CARD BODY-->
            <div class="card x " >
            <i class="fas fa-pen-square" ></i>
            <div class="card-body">
              <h5 class="card-title">REGISTER</h5>
              <p class="card-text">REGISTER TO GET FEATURES</p>
              <div>
                    <a th:href="@{/user/showFormForAdd}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>REGISTER</span></a>
              </div>

            </div>
          </div>
        </div>



          <div class="col-sm-4 " >
            <!--CARD BODY -->
            <div class="card x ">
              <i class="fas fa-question-circle icon"></i>

            <div class="card-body">
              <h5 class="card-title">GUEST</h5>
              <p class="card-text">PLEASE VISITE AS A GUEST</p>
              <div>
				            <a th:href="@{/HomeController/list}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>GUEST</span></a>
              </div>


            </div>
          </div>

      </div>
    </div>
  </div>
      <div class="col-sm-1"></div>
</div>

<div class="row mx-0 px-0">
  <div class="col-md-12 mx-0 px-0 ">
      <div class="row h122 mx-0 px-0">

        <div class="col-md-1 mx-0 px-0" style=" "></div>
          <div class="col-md-10 mx-0 px-0 " style=" ">
            <h1 class="h11">ABOUT US</h2>
              <p style="color:white;margin-top:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-1 mx-0 px-0" style=" "></div>
        </div>
  </div>
</div>









    </div>

  </body>
</html>
