
<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="rate.css">
    <script src="jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

        <style media="screen">

      .error {color:red}

        </style>
  </head>
  <body>



          <nav class="navbar bg-dark navbar-dark navbar-expand-sm navi">
              <a href="" class="navbar-brand">C&S</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="abcd">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="" class="nav-link ho"><i class="fas fa-home"></i></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle"
                        data-toggle="dropdown">MEN</a>
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item">T-shirt</a>
                            <a href="" class="dropdown-item">Kurta</a>
                            <a href="" class="dropdown-item">Jean</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle"
                        data-toggle="dropdown">WOMEN</a>
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item">Page 1</a>
                            <a href="" class="dropdown-item">Page 2</a>
                            <a href="" class="dropdown-item">Page 3</a>
                        </div>
                    </li>

                </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ho1" style="">
                    <a href="" class="nav-link ho">SIGNOUT <i class="fas fa-sign-in-alt"></i></a>
                </li>
              </ul>
          </div>
        </nav>


    <div class="container-fluid base px-0 mx-0">

      <div class="row mx-0 px-0">
        <div class="col-md-12" style="background-color:white;margin-bottom:10px;margin-top:80px;border:1px solid grey; border-radius:20px; box-shadow: 1px 1px 10px 1px;">
          <h2>REVIEWS & RATINGS</h2>

        </div>

      </div>

      <div class="row mx-0 px-0">
        <div class="col-md-4"style="border-radius:20px;background-color:white;margin-top:10px; box-shadow: 1px 1px 10px 1px;margin-bottom:10px;">
          <div class="ft" style="">
          <p ><span>What makes a good review?</span><br><span><hr></span>
            <span>Have you used this product?</span><br>
            Your review should be about your experience with the product.<br></p><hr>
            <p><span>Why review a product?</span><br>
            Your valuable feedback will help fellow shoppers decide!<br></p><hr>
            <p><span>How to review a product?</span><br>
            Your review should include facts. An honest opinion is always appreciated. If you have an issue with the product or service please contact us from the help centre.
          </p><hr>
          </div>

        </div>


        <div class="col-md-8 px-0 mx-0  frm" >

          <form class="px-5" th:action="@{/Dress/saverating}" th:object="${therating}" method="POST">

            <h2>RATE PRODUCT</h2>
            <div class="column" style="width:150px;height:300px;margin:auto;margin-bottom:20px;">
              <img src="Mens T-shirt\t5\t5.jpeg" alt="Mountains" style="width:100%;height:100%;">
            </div>

                 <div  class="input-group in" >
							<input type="text" th:field="*{rating}" placeholder="Rating" class="" th:errorclass="fieldError" />
							<div  th:if="${#fields.hasErrors('rating')}" class="text-danger">
                          		<ul class="ull">
                          			 <li th:each="err : ${#fields.errors('rating')}" th:text="'Rating ' + ${err}" />
                          							 
                          		</ul>
                          </div>
							
                          						
              		</div>
            <div class="" style="text-align:center;">
            <textarea name="comment" rows="8" cols="80" placeholder="Comments"style="width:100%;"></textarea>
            </div>

              <div class="form-group s" >
                <button type="submit" class="btn  round-pill btn-block b"><span>SUBMIT</span></button>
              </div>
          </form>

      </div>

      <div class="row mx-0 px-0" style="background-color:black;">
        <div class="col-md-12 mx-0 px-0 ">
            <div class="row h122 mx-0 px-0">

              <div class="col-md-1 mx-0 px-0" style=" "></div>
                <div class="col-md-10 mx-0 px-0 " style=" ">
                  <h2 class="h11">ABOUT US</h2>
                    <p style="color:white;margin-top:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-1 mx-0 px-0" style=" "></div>
              </div>
        </div>
        </div>
      <script type="text/javascript">
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }

      </script>
  </body>
</html>
