
<!DOCTYPE>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/loginsuccess.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

        <style media="screen">


        </style>
  </head>
  <body>


		
          <nav class="navbar  navbar-dark navbar-expand-sm  navi" >
              <a href="" class="navbar-brand">C&S</a>

         
        </nav>

    <div class="container-fluid base">

      <div class="row">


        <div class="col-md-12">
            <h2 class="h21"></h2>
                <form class="px-5" style="margin:auto;max-width:450px;">
              <h1>User registered successfully!</h1>
							<div class="i2"style="text-align:center;margin-bottom:30px;">
            	<span class="icon1"><i class="far fa-smile-beam"></i></span>
						</div>
              <div class="form-group s" >
              <a th:href="@{/HomeController/showMyLoginPage}" class="btn  round-pill btn-block b "><span>SIGNIN</span></a>
              </div>


          </form>

        </div>


      </div>
       </div>
  </body>
  
</html>
