<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/NewPass.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>



          <nav class="navbar  navbar-dark navbar-expand-sm navi" >
              <a href="" class="navbar-brand">C&S</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="abcd">


              <ul class="navbar-nav ml-auto">
                <div>
                <form action="#" th:action="@{/logout}"
                          method="POST">
                            <input type="submit" value="Logout" class="btn" style="border:none;color:white;" />
                 </form>
                 </div>
                  <li class="nav-item ">
                      <a href="" class="nav-link "  style="color:pink">EXIT <i class="fas fa-sign-out-alt"></i></a>

                  </li>

              </ul>
          </div>
        </nav>

    <div class="container-fluid base">

      <div class="row"  style=" margin-top:100px;">
        
        <div class="col-md-12" style=" margin-top:100px; margin: auto;">

          <div style="">

          <form class="px-5"  id="frmm" th:action="@{/forgot/resetpassword}"
			 	             th:object="${theusers}" method="POST" style="margin: auto;">
              <h1>NEW PASSWORD</h1>
                <!--input-->
                <input th:field="*{email}" type="text" name="emailId" placeholder="EMAIL"/>
                <input th:field="*{password}" type="password" name="password" placeholder="PASSWORD"/>
                  <!--Button-->
              <div class="form-group s" >
                <input type="submit" style="color:white" class="btn  round-pill btn-block b"value="SUBMIT" name="submit"/>
              </div>

              <div th:object="${errorEntity}">
                <p th:text="${errorEntity}"></p>
           </div>
          </form>


    </div>

        </div>
      </div>
    </div>




  </body>
</html>
