<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/search.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>



          <nav class="navbar navbar-dark navbar-expand-sm  navi" >
              <a href="" class="navbar-brand">C&S</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse " id="abcd">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item " style="">
                    <a href=""  th:href="@{/showMyLoginPage}" class="nav-link ho"><i class="fas fa-home" ></i></a>
                </li>

                  <li class="nav-item ">
                      <a href="" class="nav-link ho1">EXIT  <i class="fas fa-sign-out-alt"></i></a>
                  </li>
              </ul>
          </div>
        </nav>

    <div class="container-fluid base">

      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h2>SEARCH DRESS</h2>
              <form th:action="@{/Admin/getoneforsaerch}"  style="text-align:center;" method="post" enctype="multipart/form-data" class="px-5">
              <i style="font-size:80px; margin-bottom:30px;" class="fas fa-search"></i>
              <div  class="input-group in">
  							<input type="text" name="fileId" id="fileId" placeholder="SEARCH BY ID OR FILENAME"/>
  						</div>
              <div class="form-group s" >
                  <input type="submit" value="Search" class="btn btn-primary b "name="submit">
              </div>


          </form>

        </div>

        <div class="col-md-4"></div>
      </div>
      </div>
  </body>
</html>
