<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/homee.css">
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>
  
  
			



    <nav class="navbar bg-dark navbar-dark navbar-expand-sm navi" >
      
        <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="abcd">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item " style="">
                <a th:href="@{/HomeController/showMyLoginPage}"  class="nav-link ho">SIGNIN <i class="fas fa-sign-in-alt"></i></a>
            </li>

            <li class="nav-item ">
               <a th:href="@{/HomeController/home}" class="nav-link ho1">EXIT <i class="fas fa-sign-out-alt"></i></a>

            </li>

        </ul>
    </div>
  </nav>


    <div class="container-fluid base">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-bottom:100px;">
          <!-- Check for registration error -->
       <div th:if="${registrationError}" class="alert  col-xs-offset-1 col-xs-10" style=" font-size:20px; margin-top:50px;">
         <span th:text="${registrationError}"></span>
       </div>       
      </div>
      <div class="col-md-4"></div>
    </div>


      <div class="row">
        <div class="col-md-4"></div>
 	
        <div class="col-md-4 ">
          <h2>REGISTRATION</h2>
          <form class="px-5" th:action="@{/user/processRegistrationForm}" th:object="${theuser}" method="POST">
				 <h1>SIGN UP</h1>

			  <!-- Add hidden form field to handle update -->
					<input type="hidden" th:field="*{id}" />

					<!-- UserName -->
                 
                  <div  class="input-group in" >
							<input type="text" th:field="*{username}" placeholder="USERNAME (*)" class="" th:errorclass="fieldError" />
							<div  th:if="${#fields.hasErrors('username')}" class="text-danger">
                          		<ul class="ull">
                          			 <li th:each="err : ${#fields.errors('username')}" th:text="'UserName ' + ${err}" />
                          							 
                          		</ul>
                          </div>
							
                          						
              		</div>
             
                          					




						<!-- Password -->
						<div  class="input-group in">
							<input type="password" th:field="*{password}" placeholder="PASSWORD" class="" th:errorclass="fieldError" />
							<div th:if="${#fields.hasErrors('password')}" class="text-danger">
							<ul class="ull">
							  <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
							</ul>
						</div>
							
						</div>


						


						<!-- Name -->
						<div  class="input-group in">
							<input type="text" th:field="*{name}" placeholder="Name" class="" th:errorclass="fieldError" />
						<div th:if="${#fields.hasErrors('name')}" class="text-danger">
							<ul class="ull">
							  <li th:each="err : ${#fields.errors('name')}" th:text="'Name ' + ${err}" />
							</ul>
						</div>
						
						</div>


						


						<!-- Number -->
						<div  class="input-group in">
							<input type="text" th:field="*{number}" placeholder="Number" class="" th:errorclass="fieldError" />
							<div th:if="${#fields.hasErrors('number')}" class="text-danger">
							<ul class="ull">
							  <li th:each="err : ${#fields.errors('number')}" th:text="'Number ' + ${err}" />
							</ul>
						</div>			
						</div>


						

						<!-- email -->
						<div  class="input-group in">
							<input type="email" th:field="*{email}" placeholder="Email" class="" th:errorclass="fieldError" />
							<div th:if="${#fields.hasErrors('email')}" class="text-danger">
							<ul class="ull">
							  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
							</ul>
						</div>
						</div>


						


			 	       <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  <label class="form-check-label" for="exampleCheck1">By Signing up, you agree <br><a href="#">All terms and condition</a></label>
                </div>

              <div class="form-group s" >
                <button type="submit" class="btn  round-pill btn-block b"><span>SUBMIT</span></button>

              </div>
          </form>

        </div>

        <div class="col-md-4"></div>
      </div>
       </div>
     
  </body>
</html>
