<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register New User Form</title>
</head>
<body>

<div th:if="${success}" class="alert alert-danger col-xs-offset-1 col-xs-10">
	<span th:text="${success}"></span>
</div>

 
     <div th:if="${error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
	<span th:text="${error}"></span>
     </div>

<div th:if="${failure}" class="alert alert-danger col-xs-offset-1 col-xs-10">
<span th:text="${failure}"></span>
</div>

<div th:if="${failuretoken}" class="alert alert-danger col-xs-offset-1 col-xs-10">
<span th:text="${failuretoken}"></span>
</div>





</body>
</html>								