<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title></title>
<!-- <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/css/Home.css">
<!-- <script src="/js/jquery.js"></script>
<script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script> -->
<link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4" th:each="tempEmployee : ${employees}">
        <div class="card">
            <div class="card-body">
              <img th:src="'http://localhost:9091/download/downloadFile/'+${tempEmployee.id}" class="card-img" height="300"/>
              <h2 th:text="${tempEmployee.category}"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<table class="table table-bordered table-striped">
<thead class="thead-dark">
<tr>
<th>FileName</th>
<th>File Type</th>
<th>image</th>
<th>Category</th>
<th>Price</th>
<th>Action</th>
</tr>
</thead>

<tbody>
<tr th:each="tempEmployee : ${employees}">

<td th:text="${tempEmployee.fileName}" />
<td th:text="${tempEmployee.fileType}" />
<td>
  <img th:src="'http://localhost:9091/download/downloadFile/'+${tempEmployee.id}" width=50 length=50 />
</td>
<td th:text="${tempEmployee.category}" />
<td th:text="${tempEmployee.price}" />
<td>
<div class="row">

  <div class="col-small">
  <!-- Add "update" button/link -->
  <form action="#" th:action="@{/upload/showFormForUpdate}" method="POST">

  <input type="hidden" name="employeeId" th:value="${tempEmployee.id}" />
  <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

  </form>
</div>

<div class="col-small">
<!-- Add "delete" button/link -->
<form action="#" th:action="@{/upload/delete}" method="POST">

<input type="hidden" name="employeeId" th:value="${tempEmployee.id}" />
<button type="submit" class="btn btn-danger btn-sm"
onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
Delete
</button>

</form>
</div>
</div>
</td>
</tr>
</tbody>
</table>








</div>
</body>
</html>