<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>

	<div class="container">
	
		<h3>User  Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save User</p>
	
		<form action="#" th:action="@{/upload/save}"
						 th:object="${employee}"  method="POST">
		
		<!-- Add a hideen Field To Update -->
		 <input type="hidden" th:field="*{id}" />
		
			<input type="text" th:field="*{fileName}"
					class="form-control mb-4 col-4" placeholder="First name" required="true">

			<input type="text" th:field="*{fileType}"
					class="form-control mb-4 col-4" placeholder="Last name" required="true">

		   <img th:src="'http://localhost:9091/download/downloadFile/'+${employee.id}" width=50 length=50 />
					
					<input type="text" th:field="*{category}"
					class="form-control mb-4 col-4" placeholder="Email" required="true">
					
					<input type="text" th:field="*{price}"
					class="form-control mb-4 col-4" placeholder="Email" required="true">
					
					<input type="text" th:field="*{gender}"
					class="form-control mb-4 col-4" placeholder="Email" required="true">
					
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/Admin/list}">Back to userList</a>
		
	</div>
</body>

</html>










