<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save User</title>
</head>

<body>

	<div class="container">
	
		<h3>User Profile</h3>
		<hr>
		<div th:if="${username}" class="alert alert-danger col-xs-offset-1 col-xs-10">
	   <span th:text="${username}"></span>
    </div>
		
		<p class="h4 mb-4">Save User</p>
	
		<form action="#" th:action="@{/user/saveuserprofile}"
						 th:object="${user}" method="POST">
		
		<!-- Add a hideen Field To Update -->
		 <input type="hidden" th:field="*{id}" />
		
			<input type="text" th:field="*{username}"
					class="form-control mb-4 col-4" placeholder="username" required="true">

			<input type="text" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="password" required="true">

		   <input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name" required="true">
					
					<input type="text" th:field="*{number}"
					class="form-control mb-4 col-4" placeholder="Number" required="true">
					
					<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email" required="true">
					
					<input type="hidden" th:field="*{roles}" />
					
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		
		
	</div>
</body>

</html>










