<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="/css/searchdr.css">
      <script src="/js/jquery.js"></script>
      <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Acme|Ewert|Frijole|Great+Vibes|Marcellus|Pacifico|Merienda|Monoton|Notable&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">

              <nav class="navbar  navbar-dark navbar-expand-sm navi" >
                  <a href="https://www.youtube.com/watch?v=m4Uie3ytp_I" class="navbar-brand">C&S</a>
                  <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="abcd">
                    <ul class="navbar-nav sse">
                        <li class="nav-item">
                            <a href="" class="nav-link ho" style="font-size:18px;" ><i  class="fas fa-home"></i></a>
                        </li>


                    </ul>
              <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown">

                                    <a href="" class="nav-link ho" style="color:white;">SIGNOUT <i class="fas fa-sign-in-alt"></i></a>

                                      </li>

              </ul>
              </div>
            </nav>
          </div>
        </div>

          <div class="row" style="margin-top:100px;">
            <div class="col-md-6" style="text-align:center;">

              <a th:href="@{/Admin/listgender}"
                class="btn btn-primary btn-sm mb-3 b" style="color:white;">
                Search By Men
              </a>

            </div>
            <div class="col-md-6" style="text-align:center;">

              <a th:href="@{/Admin/listwomen}"
                class="btn btn-primary btn-sm mb-3 b" style="color:white;">
                Search By Women
              </a>

            </div>
          </div>


        <div class="row" style="margin-top:10px;">
          <div class="col-md-12">
            <table class="table table-bordered table-stripe" >
              <thead class="">
                <tr style="font-size:30px; background-color:#5c30d9;color:white;" >
                  <th>Name</th>
                  <th>FileType</th>
                  <th>image</th>
                  <th>Category</th>
                  <th>Price</th>
                  <th> Gender</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr th:each="tempEmployee : ${employees}" style="background-color:white;">

                  <td th:text="${tempEmployee.fileName}" />
                    <td th:text="${tempEmployee.fileType}" />
                  <td><img th:src="'http://localhost:9091/download/downloadFile/'+${tempEmployee.id}" width=60 length=60 /></td>
                  <td th:text="${tempEmployee.category}" />
                  <td th:text="${tempEmployee.price}" />
                  <td th:text="${tempEmployee.gender}" />
                  <td>

                  <div class="row">

                    <div class="col-small">
                    <!-- Add "update" button/link -->
                    <form action="#" th:action="@{/upload/showFormForUpdate}" method="POST">

                      <input type="hidden" name="employeeId" th:value="${tempEmployee.id}" />
                      <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                    </form>
                    </div>

                    <div class="col-small">
                    <!-- Add "delete" button/link -->
                    <form action="#" th:action="@{/upload/delete}" method="POST">

                    <input type="hidden" name="employeeId" th:value="${tempEmployee.id}" />
                    <button type="submit" class="btn btn-danger btn-sm"
                    onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                      Delete
                    </button>

                    </form>
                    </div>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        </div>

  </body>
</html>
