<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="/css/kart.css">
      <script src="/js/jquery.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>

  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">

              <nav class="navbar  navbar-dark navbar-expand-sm navi" >
                  <a th:href="@{/Dress/TeamInfo}"class="navbar-brand">C&S</a>
                  <button class="navbar-toggler" data-toggle="collapse" data-target="#abcd">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="abcd">
                    <ul class="navbar-nav sse">
                        <li class="nav-item">
                            <a href="" class="nav-link ho" style="font-size:18px;" ><i  class="fas fa-home"></i></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle"
                            data-toggle="dropdown" style="color:white">MEN</a>
                            <div class="dropdown-menu">
                                <a href="" class="dropdown-item">T-shirt</a>
                                <a href="" class="dropdown-item">Kurta</a>
                                <a href="" class="dropdown-item">Jean</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle"
                            data-toggle="dropdown"  style="color:white">WOMEN</a>
                            <div class="dropdown-menu">
                                <a href="" class="dropdown-item">Page 1</a>
                                <a href="" class="dropdown-item">Page 2</a>
                                <a href="" class="dropdown-item">Page 3</a>
                            </div>
                        </li>

                    </ul>
              <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown">
                           <form action="#" th:action="@{/logout}" method="POST">
									<input type="submit" value="Logout"
										class="btn btn-outline-primary mt-2" />
								</form>
                                      </li>
                                      <li class="nav-item">
                                          <a href="" class="nav-link"  style="font-size:18px;"><i class="fas fa-shopping-cart"></i></a>
                                      </li>

              </ul>
              </div>
            </nav>
          </div>
        </div>


        <div class="row px-4" style="margin-top:80px;">


            <div class="col-md-8" style="background-color:white;border-radius:20px;border:1px solid grey;margin-top:20px;box-shadow: 1px 1px 10px 1px;">
              <h1>MY CART</h1>
              				
			  <div th:if="${Emptycart}" class="alert alert-danger col-xs-offset-1 col-xs-10">
         
		  <span th:text="${Emptycart}"></span>
          </div>
              <hr>
              <ul class="list-group">
                <li class="list-group-item ">
                  <table style="width:100%;" >
                    <tr style="margin-top:10px;" th:each="tempEmployee : ${mycart}"> 
                      	
                       
                      <td><img th:src="'http://localhost:9091/download/downloadFileSecond/'+${tempEmployee.id}"  alt="" style="width:100px;height:180px;"></td>
                      <td class="col-md-1 text-left"><h4 th:text="${tempEmployee.productname}"></h4><h5 style="display:inline;">PRICE:</h5><h5 style="display:inline;" th:id="'u'+${tempEmployee.id}" th:text="${tempEmployee.price}"> </h5><br> <h5 style="display:inline;" >Price per product: </h5><h5 style="display:inline;" th:id="'t'+${tempEmployee.id}">0</h5>
                        <br>
                        <div>
                          <span>
                              <span class="minus">-</span>
                                 <input class="product_class"
                       						onchange="updateProductTotal(this.value,this.id);updateAllTotal();"
                       						th:id='${tempEmployee.id}' value="0"/>
                                  <span class="plus">+</span>
                            </span>
                          </div>

                        <div class="" style="margin-top:20px;">

          								<form action="#" th:action="@{/Dress/deleteFromMyCart}" method="POST">

          									<input type="hidden" name="employeeId"
          										th:value="${tempEmployee.id}" />
          									<button type="submit" class="btn btn-primary b"
          										onclick="if (!(confirm('Are you sure you want to delete this Dress From Your Cart?'))) return false">
          										Delete</button>

          								</form>
          							</div>
          							
                      </td>
                    </tr>
                  </table>
                  <hr>
                </li>
                </ul>


                <table style="width:100%;margin-bottom:20px;" >
                  <tr>
                    <td></td>
                    <td class="col-md-1 text-right"  >
                    <hr>
                    <span>
                    <!-- <a th:href="@{/Paypal/}" class="btn btn-primary">PLACE ORDER</a> -->
                    <form action="#" th:action="@{/Paypal/}" method="get">
                    <input type="text" name="grandTotal" id="total_price2" value="0" />
                    <input type="submit" value="PLACE ORDER" />
                    </form>
                    </span></td>
                  </tr>
                </table>

            </div>

            <div class="col-md-1">

            </div>

          <div class="col-md-3" style="text-align:center;background-color:white;height:100%;border-radius:10px;border:1px solid grey;margin-top:20px;box-shadow: 1px 1px 10px 1px;">
            <h1 style="margin-top:20px;">TOTAL PRICE</h1>
            <hr>

            <h3 id="total_price">0</h3>
          </div>

        </div>
        <div class="row" style="margin-top:20px;">
          <div class="col-md-12 mx-0 px-0">
              <div class="row h122 mx-0 px-0">

                <div class="col-md-1 mx-0 px-0" style=" "></div>
                  <div class="col-md-10 mx-0 px-0 " style=" ">
                    <h1 class="h11">ABOUT US</h1>
                      <p style="color:white;margin-top:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="col-md-1 mx-0 px-0" style=" "></div>
                </div>
          </div>
        </div>






        </div>
        <script type="text/javascript">
        var ur = document.getElementById('total_price').innerHTML;
    	$(document).ready(function() {
    		$('.minus').click(function () {
    			var $input = $(this).parent().find('input');
    			var count = parseInt($input.val()) - 1;
    			count = count < 1 ? 1 : count;
    			$input.val(count);
    			$input.change();
    			return false;
    		});
    		$('.plus').click(function () {
    			var $input = $(this).parent().find('input');
    			$input.val(parseInt($input.val()) + 1);
    			$input.change();
    			return false;
    		});
    	});

        	function updateProductTotal(quantity, product_id){
        		var unit_price = document.getElementById('u'+product_id).innerHTML;
        		if(unit_price==undefined)
        			unit_price=0;
        		document.getElementById('t'+product_id).innerHTML=unit_price*quantity;
        	}

        	function updateAllTotal(){
        		var products = document.getElementsByClassName("product_class");
        		var i=0;
        		var total_price=0;
        		//console.log("function called");
        		//console.log("size: "+products.size);
        		Array.prototype.forEach.call(products, function(product) {
        		   // console.log(product.tagName);
        		    //console.log(product.id);
        		    var p_price = document.getElementById('t'+product.id).innerHTML;
        			if(p_price==undefined)
        				p_price=0;
        			total_price = parseInt(total_price) + parseInt(p_price);
        		});


        	document.getElementById('total_price').innerHTML=total_price;
        	document.getElementById('total_price2').value=total_price;
        	//var totalmyself=total_price;
        	}
        	function alertthis(value){
        		alert('hello alert....'+value);
        	}

        	</script>

  </body>
</html>
