<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/font/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/css/t2.css">
<script src="/js/jquery.js"></script>
<script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<title></title>
</head>
<body>
<!-- 

          <div th:if="${dressexist}" class="alert alert-danger col-xs-offset-1 col-xs-10">
          <h1>Welcome</h1>
		  <span th:text="${dressexist}"></span>
          </div>
          
           <div th:if="${addtocartsuccess}" class="alert alert-danger col-xs-offset-1 col-xs-10">
		  <span th:text="${addtocartsuccess}"></span>
          </div>
           -->


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 px-0">

				<nav class="navbar  navbar-dark navbar-expand-sm navi">
					  <a th:href="@{/Dress/TeamInfo}"
						class="navbar-brand">C&S</a>
					<button class="navbar-toggler" data-toggle="collapse"
						data-target="#abcd">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="abcd">
						<ul class="navbar-nav ">
							<li class="nav-item"><a href="" class="nav-link ho"><i
									class="fas fa-home"></i></a></li>

							
                              <li class="nav-item dropdown">
                                  <a href="" class="nav-link dropdown-toggle"
                                  data-toggle="dropdown">MEN</a>
                                  <div class="dropdown-menu">
                                      <a href="" class="dropdown-item">T-shirt</a>
                                      <a href="" class="dropdown-item">Kurta</a>
                                      <a href="" class="dropdown-item">Jean</a>
                                  </div>
                              </li>
                              




							<li class="nav-item dropdown"><a href=""
								class="nav-link dropdown-toggle" data-toggle="dropdown">WOMEN</a>
								<div class="dropdown-menu">
									<a href="" class="dropdown-item">Page 1</a> <a href=""
										class="dropdown-item">Page 2</a> <a href=""
										class="dropdown-item">Page 3</a>
								</div></li>

						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item ho1" style="">

								<form action="#" th:action="@{/logout}" method="POST">
									<input type="submit" value="Logout"
										class="btn btn-outline-primary mt-2" />
								</form>

							</li>

							<li class="nav-item dropdown"><a href=""
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								th:if="${forwardusername}" style="color: white;"><span
									th:text="${forwardusername}"></span></a>
								<div class="dropdown-menu">

									<a th:href="@{/user/Edituserprofile}" class="nav-link"
										style="color: black;">EDIT USER PROFILE</a>
									<form action="#" th:action="@{/logout}" method="POST">
										<input type="submit" value="Logout"
											class="btn btn-outline-primary mt-2" />
									</form>
								</div></li>

						</ul>
					</div>
				</nav>
			</div>
		</div>




		<div class="row">
			<div class="col-md-5">

				<div class="row">

					<div class=" col-md-12 mx-0 px-0">
						<div class="container" th:each="tempEmployee : ${samedress}"
							style="padding: 0px; margin-top: 90px; text-align: center;";>
							<img
								th:src="'http://localhost:9091/download/downloadFile/'+${tempEmployee.id}"
								style="width: 400px; height: 700px;">
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6" style="text-align: center">

						<!-- <a th:href="@{/Dress/AddToCart}"class="btn btn-primary  round-pill btn-block b" role="button" aria-pressed="true"><span>ADD TO CART</span></a> -->





					</div>
					<div class="col-md-6">
						<a th:href="@{/user/showFormForAdd}"
							class="btn btn-primary  round-pill btn-block b" role="button"
							aria-pressed="true"><span>CHECK DRESS</span></a>
					</div>
				</div>
			</div>

			<div class="col-md-7" style="margin-top: 90px; padding-left: 20px;">
				<div class=""
					style="background-color: white; border: 2px solid grey; height: 700px; padding: 20px; border-radius: 20px; box-shadow: 1px 1px 10px 1px;">
					<div>
						<div th:each="tempEmployee : ${samedress}">


							<form action="http://localhost:9091/Dress/AddToCart" method="get">
								<input type="hidden" name="FileName"
									th:value="${tempEmployee.fileName}" />
								<button type="submit" class="btn btn-primary b">AddToCart</button>
							</form>
							
							<form action="http://localhost:9091/Dress/MyCart" method="get">
							<button type="submit" class="btn btn-primary b">MyCart</button>
							</form>
							
							
							<form action="http://localhost:9091/Dress/MyCart" method="get">
							<button type="submit" class="btn btn-primary b">Check Dress</button>
							</form>

							<h1 th:text="${tempEmployee.category}"></h1>
							<h4 th:text="${tempEmployee.category}"></h4>

							<h2>
								Price <span style="" th:text="${tempEmployee.category}"></span>
							</h2>
							<h2>
								Size <span>S M L XL XXL</span>
							</h2>
						</div>
					</div>

					<span style="font-size: 20px; color: green; padding-left: 20px;">IN
						Stock</span>
						
						
						
			  <div th:if="${dressexist}" class="alert alert-danger col-xs-offset-1 col-xs-10">
         
		  <span th:text="${dressexist}"></span>
          </div>
          
           <div th:if="${addtocartsuccess}" class="alert alert-danger col-xs-offset-1 col-xs-10">
		  <span th:text="${addtocartsuccess}"></span>
          </div>
						
						

					<!--Questions-->
				</div>
			</div>
		</div>





		<div class="row mx-0 px-0"
			style="text-align: center; margin-top: 10px; background-color: white; border-radius: 20px; margin-bottom: 10px; border: 1px solid grey; box-shadow: 1px 1px 10px 1px;">

			<div class=" col-sm-4 mx-0 px-0">
				<h2>Easy Returns</h2>
			</div>
			<div class="col-sm-4 mx-0 px-0">
				<h2>Best Price</h2>

			</div>
			<div class="col-sm-4 mx-0 px-0">

				<h2>Trending Style</h2>

			</div>



			<div class="col-md-12 mx-0 px-0" style="">
				<hr style="box-shadow: 1px 1px 10px 1px;">
				<div class="">
					<div class=""
						style="margin-top: 10px; background-color: white; padding: 10px;">

						<div>
							<h3 style="padding: 0px; margin: 0px;">Product Details</h3>
							<br> Shop from a wide range of T-Shirt from Regalia. Perfect
							for your everyday use, you could pair it with a stylish pair of
							Jeans or Trousers complete the look. <a data-toggle="collapse"
								href="#collapseExample"><span style="font-size: 10px;">FORE
									MORE</span></a>
							<div>
								<div class="collapse" id="collapseExample">
									<div class="card card-body">
										<table class="table table-borderless">

											<tbody>
												<tr>

													<td>TYPE</td>
													<td>slea</td>

												</tr>
												<tr>
													<td>SLEEVE</td>
													<td>Thornton</td>
												</tr>
												<tr>
													<td></td>
													<td>Thornton</td>
												</tr>
												<tr>
													<td>SLEEVE</td>
													<td>Thornton</td>
												</tr>
												<tr>
													<td>SLEEVE</td>
													<td>Thornton</td>
												</tr>
												<tr>
													<td>SLEEVE</td>
													<td>Thornton</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12" style="padding: 20px; margin-top: 10px;">
				<hr style="box-shadow: 1px 1px 10px 1px;">
				<div class="">

					<h2>PRODUCT REVIEWS AND RATINGS</h2>
					<p>t enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, s</p>
				</div>
			</div>
		</div>





		<div class="row" style="margin-top: 20px;">
			<div class="col-md-12 mx-0 px-0 ">
				<div class="row h122 mx-0 px-0">

					<div class="col-md-1 mx-0 px-0" style=""></div>
					<div class="col-md-10 mx-0 px-0 " style="">
						<h1 class="h11">ABOUT US</h1>
						<p style="color: white; margin-top: 20px;">Lorem ipsum dolor
							sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim
							veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat. Duis aute irure dolor in reprehenderit
							in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-md-1 mx-0 px-0" style=""></div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
